.btn{
    
    margin-top: 15px;
}
.btn button{
    margin: 10px;
   border: 1px solid rgb(223, 208, 208);
   border-radius: 18px;
    
}
.gogle img{
    border: 2px solid red;
    width: 20px;
    background-color: white;
    color: aliceblue;
}

.btn input{
   outline: none;
   border: none;
   padding: 15px;
   border-radius: 18px;
   color: white;
   background-color: black;
   width: 250px;
}
