   

.signup{
    background-color: black;
    height: 100vh;
    
}
.signup img{
    width: 50px;
   
   
}
.signup h1{
    color: white;
     font-size: xxx-large;
    margin-top: 30px;
    animation-name: move;
    animation-duration: 2s;
    left:  50px;

}
h2{
    color: white;
    font-size: medium;
    font-weight: 200;
    margin-top: 15px;
    position: relative;
    right: 100px;
  
}
.user-mail input{
    outline: none;
    padding: 10px;
    margin-top:10px ;
    padding: 15px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: black;
    color: white;
    width: 260px;
} 
.btn-next{
    width: 292px;
    margin-top: 20px;
    padding: 13px;
    color: black;
    background-color: rgb(8, 221, 90);
    border-radius: 20px ;

}
h4{
   
    margin-top: 10px;
    color: white;
  
}
  @keyframes move {
       0% {
            left: 0px;

       }100%{
         right: 60px;

       }
    
  }