*{
  padding: 0px;
  margin: 0px;

}
.main-div{
    display: flex;
    
    
}
.content{
    width: 70%;
}

.slidebar{
  
     width: 30%;
     height: 100vh;
   
     background-color: #111111;
}

.slider-menu {
    background-color: black;
    opacity: 0.9;
    height: 12rem;
 
}
.slider-menu li img{
    width: 25px;
    height: 25px;
    position: relative;
    right: 33px;
    top:5px
}
.spotify{
    color: white;
    padding-top: 20px;
    font-weight: bold;
}

.spotify img{
    height: 25px;
    width: 25px;
    padding-left: 20px;
    margin: 5px;
    position: relative;
    top: 8px;  
}
.slider-menu ul li{
    color: white;
    padding: 15px 60px;
    font-size: large;
    font-weight: bold;
}


.library{
    display: flex;
     color: rgb(244, 237, 237);
     font-size: x-large;
     height: rem;
      padding: 20px;
     
     
}
.library:hover{
    color: white;
    font-weight: bold;
}
.sign{
    font-weight: bolder;
    position: relative;
    left: 10rem;
}
.sidebar-scroll{
    height: 30px;
    overflow: auto; 
    padding: 12px;
    background-color: #222121;;
    
}
.sidebar-scroll h4 { 
     padding: 10px;
     font-size: 20px;
     font-weight: bolder; 
}
.sidebar-scroll p{
    padding: 10px;
     font-size: 20px;
     font-weight: bolder; 
}
.playlist{
    background-color: #111111;
    color: white; 
      
}


.btn-playlist{
    
    font-size: larger;
    font-weight: bolder;
    background-color: width(246, 241, 241);
    height: 50px;
    width: 144px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}

.privacy{
    margin-top: 40px;
    display: flex;
    
   
}

.privacy li{
    justify-content: space-evenly;
    list-style-type: none;
    color: #949393;
    font-size: 15px;
    font-weight: 600;
   padding: 14px;
}